include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug

include components/ddgroup.pug

mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right')
//- /arrow for swiper-slider


mixin addblock()
	+b.addBlock
		+e.btn--minus(type="button")
		input(type="text" value="999"  inputmode='numeric')
		+e.btn--plus(type="button")

mixin search()
	+b.search-block
		form
			input(type="text" placeholder="" inputmode='search')
			button 
				+icon("search")

mixin subscribe
	+b.search-block--subscr.ls-7
		form
			input(type="email" placeholder="Enter email" inputmode='search')
			button 
				+icon("send")

mixin page-head(t,...items)
	+b.page-head
		- let l = items.length
		.container
			+breadcrumb('Главная',...items)

			h1= t

mixin breadcrumb1(...items)
	+breadcrumb('Main',...items)


mixin parts(elem)
	script.
		addBlock(`#{elem}`)
	div(id=`${elem}Wrap`)

mixin navUser
	+b.nav-user&attributes(attributes)
		ul
			li.active: a(href='#'): +icon('heart')
			li: a(href='#'): +icon('compare')
			li.active: a(href='#')
				+icon('cart')
				+e.price €193

mixin navLk
	+b.nav-lk&attributes(attributes)
		+e.lk.A(href='#'): +icon('user')
		+e.btns.ls-6
			+e.btn.btn.btn-secondary.btn-sm.fw-700(href='#') Sign Up
			+e.btn.link(href='#') Log In

mixin main
	main&attributes(attributes)
		+img('img/svg/hero-bg-1.svg').hero-bg.hero-bg-1
		+img('img/svg/hero-bg-2.svg').hero-bg.hero-bg-2
		if block
			block


mixin sectionTitle(title)
	+b.section-title.title-icon: a(href='#')
		h2= title
		+e.icon-wrap: +icon('chevron-right')

mixin linksCard
	.links-card.links-card__links-wr
		button.link-item(href='#'): +icon('share')
		button.link-item(href='#'): +icon('compare')
		button.link-item(href='#').active: +icon('heart')

mixin range(c1, c2, fromTxt='from', toTxt='to')
	+b.range-wrap--filter.price_slider_amount&attributes(attributes)
		+e.row.row
			+e.col.col-6
				.form-group(data-ph='from')
					+b.INPUT.input_from.form-control(type="text")
			+e.col.col-6
				.form-group(data-ph='to')
					+b.INPUT.input_to.form-control(type="text")
		input.range-slider.slider-js(type='text'  data-min=c1  data-max=c2)

mixin rangeAge(c1, c2)
	+b.range-wrap--age.price_slider_amount&attributes(attributes)
		.title Age from #[span.range-from #{c1}] to #[span.range-to #{c2}] years
		input.range-slider.slider-js(type='text'  data-min=c1  data-max=c2)

mixin rangePrice(c1, c2, fromTxt='От', toTxt='До',)
	+b.range-wrap--age.price_slider_amount&attributes(attributes)
		.title Price from #[span.range-from #{c1}]#[span €] to #[span.range-to #{c2}]#[span €]
		input.range-slider.slider-js(type='text'  data-min=c1  data-max=c2)

mixin product-item(i, t, star, pr, newP)
	+b.ARTICLE.product-item(href="#")
		+e.top-wrap
			.new.left-line NEW
			+linksCard
		+e.img-wrap: .img-wrap-center
			+img(`img/prod-${i}.jpg`)
		+e.caption
			+e.title.ls-6!= t
			+e.rew-wrap
				.reviews__stars(data-star=`${star}`)
					+icon('star')
					+icon('star')
					+icon('star')
					+icon('star')
					+icon('star')
				+e.msg
					+icon('message')
					| 12
			if newP
				+e.price-wr
					+e.price.price_old!= pr
					+e.span.SPAN.fw-600= newP
			if !newP
				+e.price-wr
					+e.price.fw-600!= pr
			+e.btn.btn.btn-secondary(href='#'): +icon('cart')
	// /.product-item